apiVersion: v1
kind: Service
metadata:
  name: auth
spec:
  selector:
    app: auth
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: auth:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: grpc
          env:
            - name: AUTH_ADDRESS
              value: ":8080"

            - name: DB_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DB_ADDRESS

            - name: AUTH_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: AUTH_JWT_SECRET

            - name: TOKEN_TTL
              value: "24h"

          volumeMounts:
            - name: config
              mountPath: /config.yaml
              subPath: config.yaml
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: auth-config
