apiVersion: v1
kind: Service
metadata:
  name: search
spec:
  selector:
    app: search
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search
  template:
    metadata:
      labels:
        app: search
    spec:
      containers:
        - name: search
          image: search:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: grpc
          env:
            - name: SEARCH_ADDRESS
              value: ":8080"

            - name: DB_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DB_ADDRESS

            - name: WORDS_ADDRESS
              value: "words:8080"
            - name: BROKER_ADDRESS
              value: "nats://nats:4222"

            - name: INDEX_TTL
              value: "24h"

          volumeMounts:
            - name: config
              mountPath: /config.yaml
              subPath: config.yaml
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: search-config
