# postgres
POSTGRES_PASSWORD=password

# общий dsn для всех сервисов
DB_ADDRESS=postgres://postgres:password@postgres:5432/postgres

# api admin credentials
API_ADMIN_USER=admin
API_ADMIN_PASSWORD=password

# auth service
AUTH_JWT_SECRET=jwt-secret

# bot
BOT_TOKEN=telegram-bot-token
